{% extends "_layout.html" %}
{% block content %}



    <section class="gray p-0">
        <div class="container-fluid p-0">

            <div class="row d-flex justify-content-center">

                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-body">

                        <div class="dashboard-wraper ">

                            <h4 class='my-5 py-5 px-5 alert-success'>Rest Instructions Sent</h4>
                            <p>Please check your email</p>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}